.container {
  text-align: center;
  background: #232427;
  color: white;
  min-height: 100vh;
  padding: 5rem;
  padding-top: 2.5rem;
}

.container2 {
  width: 100%;
  min-height: calc(100vh - 10rem);
  color: black;
  padding: 2rem;
}

.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerText {
  color: white;
}

.submit-button {
  cursor: pointer;
}
